.allContents{
    background-image: url('../assets/pozadina.png');
    background-size: cover;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.contents{
    width: 90vw;
    margin-top: 10vh;
    margin-left: 4vw;
}

.headingGallery{
    font-size: 40px;
    text-align: center;
    color: #4E598C;
    font-weight: bold;
    font-style: italic;
    margin-bottom: 10vh;

}