.pet-all{
    background-image: url('../assets/pozadina.png');
    background-size: cover;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    margin: 50px;
    border: 2px solid rgb(222, 212, 212);
    border-radius: 30px;
    display: flex;
    flex-direction: row;
    background-color: white;
}

.imagess{
    padding: 40px;
    flex-direction: row;
    flex-wrap: wrap;
    width: 70%;
}

.imagess img{
    margin: 20px;
    width: 300px;
    height: 300px;
}

.about-text{
    padding: 30px;
    flex: 1;
    border-left: 2px solid rgb(222, 212, 212);
}

.about-text p{
   font-size: larger;
}

.submit{
    padding: 10px;
    border-radius: 10px;
    background-color: transparent;
}


.submit:hover{
    background-color: #F9AB55;
}

@media (max-width: 600px){
    .container{
        margin: 25px;
        flex-direction: column;
    }
    .imagess{
        padding: 30px;
        width: 100%;
    }
    .imagess img{
        margin: 10px;
        width: 200px;
        height: 200px;
    }
    .about-text{
        padding: 30px;
        width: 100%;
        border-left: 0px;
        border-top: 2px solid rgb(222, 212, 212);;
    }
    .about-text p{
        font-size: large;
     }
}