.filter-container {
    display: flex;
    flex-direction: column;
    font-size: 20px;
}

.filter-container p{
    font-size: 20px;
}

@media (max-width: 700px) {
    .filter-container {
        font-size: 15px;
    }
  }
