.input-field{
    display: flex;
    flex-direction: column;
    font-size: 23px;
    font-family: cursive;
    align-items: center;
}

.input-field label{
    margin-top: 15px;
    margin-bottom: 10px;
}

.input-field input{
    width: 110%;
}

@media (max-width: 600px){
    .input-field{
        font-size: 18px;
        font-family: cursive;
    }
    
    .input-field label{
        margin-top: 10px;
        margin-bottom: 5px;
    }
    
    .input-field input{
        width: 90%;
    }
}